header{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 200px;
    z-index: 1;
    display:flex;
    justify-content: space-between;
    align-items: center;

    a{
        color: white;
        text-decoration: none;
        margin-left: 40px;
        font-size: 32px;

        &:hover{
            color: rgba(255,255,255,0.5);
        }
    }

    

    img{
        width: 300px;
        height: 300px;
        cursor: pointer;
    }

    div{
        margin-right: 100px;
    }

    .darkLinks{
        a{
            color: black;
            text-decoration: none;
            margin-left: 40px;
            font-size: 32px;
    
            &:hover{
                color: rgba(0,0,0,0.8);
            }
        }
    
    }

    .headerDark{
        background-color:rgba(0,0,0,0.2);
    }
}